/* You can add global styles to this file, and also import other style files */
// @import '@angular/material/prebuilt-themes/purple-green.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
*:focus {
  outline: none;
}
textarea:focus, input:focus, button:focus{
  outline: none;
}
.selected-nav {
  border-style: none none solid none !important;
  border-color: #69f0ae !important;
}
// https://stackoverflow.com/questions/45089178/how-to-get-primary-or-accent-color-of-currently-applied-theme-in-angular-materia


.full-width {
  width: 100%;
}
